@page "/eventdetail"

<div class="event-detail-box">
    <div class="ticket-box">
        <div class="ticket">
            <div class="left-ticket">
                <div class="top-span">
                    <span class="title">[LULULOLA SHOW] PHAN MẠNH QUỲNH - KM HELLEN | NGÀY CHƯA GIÔNG BÃO</span>
                    <span class="datetime-box">
                        <i class="ti-calendar"></i>
                        <span class="datetime-text">17:30 - 19:30, 07 Jun, 2024</span>
                    </span>
                    <span class="location-box">
                        <i class="ti-location-pin"></i>
                        <span class="location-text">Lululola Coffee</span>
                    </span>
                </div>
                <div class="bottom-span">
                    <span class="price">450.000 đ</span>
                    <a class="btn-book" href="#">Book now</a>
                </div>
            </div>
            <div class="right-ticket">
                <img class="ticket-image" src="https://salt.tkbcdn.com/ts/ds/57/04/b1/821b5e71ce786b82aca489bfbce354e5.png" alt="Ticket image" />
            </div>
        </div>
    </div>
    <div class="about-box">

    </div>
</div>

@code {

}
