@page "/"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<div class="main">
    <div class="main-content">
        <div class="trending-events-box">
            <div class="trending-events-text">Trending events</div>
        </div>
        @if (events != null)
        {
            <ul class="events-list">
                @foreach (var item in events)
                {
                    <li class="event-item">
                        <a @onclick="() => NavigateToItemDetail(item.EventId.ToString())">
                            <div class="event-image-box">
                                <img src="@item.ImageUrl"
                                     alt="Event image"
                                     class="event-image" />
                            </div>
                            <div class="event-info-box">
                                <span class="event-title">
                                    @item.Name
                                </span>
                                @{
                                    decimal value = item.Price;
                                    string formattedValue = $"{value:0,0}đ";

                                    DateTime date = item.Date;
                                    string formattedDate = date.ToString("dd/MM/yyyy");
                                }
                                <span class="event-price">
                                    @formattedValue
                                </span>
                                <span class="event-date-box">
                                    <i class="ti-calendar"></i>
                                    <span class="event-date">
                                        @formattedDate
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@code {
    private List<MusicEvent.Models.MusicEvent> events;

    protected override async Task OnInitializedAsync()
    {
        events = await httpClient.GetFromJsonAsync<List<MusicEvent.Models.MusicEvent>>("https://localhost:7109/api/MusicEvent");
    }

    private void NavigateToItemDetail(string id)
    {
        NavigationManager.NavigateTo($"/event-detail/{id}");
    }
}